.review {
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

    .box {
      border: $border;
      text-align: center;
      padding: 3rem 2rem;

      p {
        font-size: 1.5rem;
        line-height: 1.8;
        color: #ccc;
        padding: 2rem 0;
      }

      .user {
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        object-fit: cover;
      }

      h3 {
        padding: 1rem 0;
        font-size: 2rem;
        color: #fff;
      }

      .stars i {
        font-size: 1.5rem;
        color: $main-color;
      }
    }
  }
}
